<button type="submit" id="startBOT" class="button submit small green">
  <div class="background"></div>
  <div class="label">Start</div>
</button>
<button type="submit" id="stopBOT" class="button submit small green">
  <div class="background"></div>
  <div class="label">Stop</div>
</button>
<button id="openWindowBtn" class="widget-button green widget-in-interface-bar widget-exit ui-draggable ui-draggable-handle ui-draggable-disabled">
  <div class="label">MT</div>
</button>
<div class="window-content">
  <div class="margo-bot">
    <h2>Margo BOT</h2>
    <div class="buttons-container"></div>
  </div>
  <div class="margo-gathering">
    <h2>Margo Gathering</h2>
    <div class="buttons-container"></div>
  </div>
  <div class="settings">

  </div>
</div>